[dist]
ci = "github"
cargo-dist-version = "0.29.0"
targets = [
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu"
]
installers = ["homebrew"]
tap = "anthonyamaro15/homebrew-tap"
formula = "ff"
unix-archive = ".tar.gz"
